img {
  width: 30%;
  length: 30%;
  align-items: center;
}

body {
    background-color: black;

}

h1 {
  background-color: red;
  color: white;

}

li {
  color: blue;
  font-size: 15;
}

p {
  color: white;
}
