img {
  width: 10%;
  length: 10%;
  display: block;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 20px;

}

body {
    background-color: black;
    background-image : url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Tennessee_The_Hill.jpg/350px-Tennessee_The_Hill.jpg");
    background-size: cover;
    color: white;

}

h1 {
  background-color: orange;
  color: white;
  text-align: center;
  margin-top: 140px;
  padding: 5px;
  border: 1px solid #fff;

}

h2 {
  background-color: white;
  color: orange;
  text-align: center;
  margin-top: 100px;
  padding: 5px;
}

li {
  color: white;
  font-size: 20;
  list-style: none;
  margin-right: 10px;
  float: left;
}

li a {
  text-decoration: none;
  color: #fff;
}

p {
  color: white;
}

#navbar {
  background-color: red;
}

div article {
  float: left;
  color: white;
  font-size: 15px;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 40px;
}

body style {
  background-image: url("http://barbados.org/images/welcome-to-barbados.jpg");
}

div.header {
  text-decoration: none;
  color: white;
}
