img {
  width: 30%;
  length: 30%;
  
}

body {
    background-color: black;

}

h1 {
  background-color: red;
  color: white;

}

li {
  color: white;
  font-size: 55;
}

p {
  color: white;
}

a href {
  color: white;
}
